.category.new-page
    .card
        .card-body
            %h2 New category

            = render 'form'
            <br>
            = link_to 'Back', categories_path, class: "btn btn-outline-secondary"
